<form class="{{cssClass}} sheet-item" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <div class="attribute-group">
        <div class="form-group-small">
            <label>Encombrement</label>
            <input name="data.clutter" data-dtype="Number" type="number" min="0" value="{{data.data.clutter}}" />
        </div>
        <div class="form-group-small">
            <label><i class="fa fa-coins"></i> Prix</label>
            <input name="data.price" data-dtype="Number" type="number" min="0" step="1" value="{{data.data.price}}" />
        </div>
    </div>
    <div class="attribute-group">
        <div class="form-group-small">
            <label>Quantifiable</label>
            <input type="checkbox" name="data.quantifiable" data-dtype="Boolean" {{checked data.data.quantifiable}}/>
        </div>

        {{#if (and isOwned data.data.quantifiable)}}
            <div class="form-group-small">
                <label>Quantité</label>
                <input name="data.quantity" data-dtype="Number" type="number" min="0" step="1" value="{{data.data.quantity}}" />
            </div>
        {{/if}}
    </div>

    {{#if canBeEquiped}}
        <div class="form-group-small">
            <label>Équipé ?</label>
            <input type="checkbox" name="data.equiped" data-dtype="Boolean" {{checked data.data.equiped}}/>
        </div>
    {{/if}}

    <div class="form-group">
        <label>Description</label>
        <textarea name="data.description" data-dtype="String">{{data.data.description}}</textarea>
    </div>
    <div class="form-group">
        <label>Détails</label>
        <textarea name="data.details" data-dtype="String">{{data.data.details}}</textarea>
    </div>
    <div class="form-group">
        <label>Limitation</label>
        <input type="text" name="data.restriction" data-dtype="String" value="{{data.data.restriction}}"/>
    </div>

    {{#if (or (eq item.type 'scroll') (eq item.type 'wand'))}}
        <div class="form-group">
            <label>Sort <button data-lvl0-action="selectSpell">Choisir</button></label>
            <input type="text" name="data.spell" data-dtype="String" value="{{data.data.spell}}" />
        </div>
    {{/if}}
    {{#if (eq item.type 'wand')}}
        <div class="form-group">
            <label>Charge(s)</label>
            <input name="data.charge" data-dtype="Number" type="number" value="{{data.data.charge}}" />
        </div>
        <div class="form-group">
            <label>Niveau d'arcane (Laissez 0 si le sort n'en dépend pas)</label>
            <input name="data.arcane" data-dtype="Number" type="number" value="{{data.data.arcane}}" />
        </div>
        <div class="form-group">
            <label>Bloqué ? (Echec critique lors du remplissage)</label>
            <input type="checkbox" name="data.blocked" data-dtype="Boolean" {{checked data.data.blocked}}/>
        </div>
    {{/if}}
    {{#if (eq item.type 'ammunition')}}
        <div class="form-group">
            <label>Type</label>
            <select name="data.ammunitionType">
                {{selectOptions ammunitionTypes selected=data.data.ammunitionType}}
            </select>
        </div>
        <div class="form-group">
            <label>Dégâts additionnel</label>
            <input name="data.extraDamage" data-dtype="String" type="text" value="{{data.data.extraDamage}}" />
        </div>
        <div class="form-group">
            <label>Éléments</label>
            <select name="data.extraDamageEffect">
                {{selectOptions elements selected=data.data.extraDamageEffect}}
            </select>
        </div>
        <div class="form-group">
            <label>Bonus</label>
            <input name="data.bonus" data-dtype="String" type="text" value="{{data.data.bonus}}" />
        </div>
    {{/if}}
    {{#if (eq item.type 'weapon')}}
        <div class="form-group">
            <label>Type</label>
            <select name="data.weaponType">
                {{selectOptions weaponTypes selected=data.data.weaponType}}
            </select>
        </div>
        <div class="form-group">
            <label>Dégâts</label>
            <input name="data.damage" data-dtype="String" type="text" value="{{data.data.damage}}" />
        </div>
        {{#if (eq data.data.weaponType 'melee-range')}}
            <div class="form-group">
                <label>Dégâts (Lancer/Tir)</label>
                <input name="data.rangeDamage" data-dtype="String" type="text" value="{{data.data.rangeDamage}}"/>
            </div>
        {{/if}}
        <div class="form-group">
            <label>Éléments</label>
            <select name="data.element">
                {{selectOptions elements selected=data.data.element}}
            </select>
        </div>
        <div class="form-group">
            <label>Bonus</label>
            <input name="data.bonus" data-dtype="String" type="text" value="{{data.data.bonus}}" />
        </div>
        <div class="form-group">
            <label>Nombre de main</label>
            <input name="data.handCount" data-dtype="Number" type="number" value="{{data.data.handCount}}" />
        </div>
        <div class="form-group">
            <label>Type de munition</label>
            <select name="data.usedAmmunitionType">
                {{selectOptions usedAmmunitionTypes selected=data.data.usedAmmunitionType}}
            </select>
        </div>
    {{/if}}
    {{#if (eq item.type 'armor')}}
        <div class="form-group">
            <label>Protection</label>
            <input name="data.protection" data-dtype="Number" type="text" value="{{data.data.protection}}" />
        </div>
        <div class="form-group">
            <label>Malus dextérité</label>
            <input name="data.dexMalus" data-dtype="Number" type="text" value="{{data.data.dexMalus}}" />
        </div>
    {{/if}}
    {{#if (or (eq item.type 'armor') (eq item.type 'necklace') (eq item.type 'cloak') (eq item.type 'ring') (eq item.type 'head') (eq item.type 'belt') (eq item.type 'hand'))}}
        <div class="form-group">
            <label>Immunités et Invulnérabilités</label>
            <input name="data.immunity" data-dtype="String" type="text" value="{{data.data.immunity}}" />
        </div>
    {{/if}}
    {{#if (eq item.type 'shield')}}
        <div class="form-group">
            <label>Dégâts</label>
            <input name="data.damage" data-dtype="String" type="text" value="{{data.data.damage}}" />
        </div>
        <div class="form-group">
            <label>Blocage</label>
            <input name="data.blockValue" data-dtype="String" type="text" value="{{data.data.blockValue}}" />
        </div>
    {{/if}}
    {{#if (eq item.type 'bag')}}
        <div class="form-group">
            <label>Lignes supplémentaires</label>
            <input name="data.extraRows" data-dtype="Number" type="number" value="{{data.data.extraRows}}" />
        </div>
        <div class="form-group">
            <label>Colones supplémentaires</label>
            <input name="data.extraColumns" data-dtype="Number" type="number" value="{{data.data.extraColumns}}" />
        </div>
        <div class="form-group">
            <label>Taille infini</label>
            <input type="checkbox" name="data.noLimit" data-dtype="Boolean" {{checked data.data.noLimit}}/>
        </div>
    {{/if}}
    {{#if itemTypeConfig.canHaveModifiers}}
        <div>
            <div>Modificateurs:</div>
            <div class="modifier-values">
                {{#each data.data.modifiers as | modifier |}}
                    <div class="modifier-value" data-modifier-id="{{@key}}">
                        <select name="data.modifiers.{{@key}}.stat">
                            {{selectOptions ../modifierSkills selected=modifier.stat}}
                        </select>
                        <span>+</span>
                        <input name="data.modifiers.{{@key}}.value" data-dtype="Number" type="number" value="{{modifier.value}}" />
                        <a data-lvl0-action="deleteModifier" title="Supprimer modificateur"><i class="fas fa-trash"></i></a>
                    </div>
                {{/each}}
            </div>
            <button data-lvl0-action="addItemModifier">Ajouter un modificateur</button>
        </div>
    {{/if}}
    {{#if (or (eq item.type 'ring') (eq item.type 'armor') (eq item.type 'shield') (eq item.type 'cloak') (eq item.type 'belt') (eq item.type 'head') (eq item.type 'necklace') (eq item.type 'hand') (eq item.type 'foot') (eq item.type 'handWeapon'))}}
        <div>
            <div>Compétences:</div>
            <div class="modifier-values">
                {{#each data.data.extraSkills as | extraSkill |}}
                    <div class="extra-skill-line" data-extra-skill-id="{{@key}}">
                        <select name="data.extraSkills.{{@key}}.id">
                            {{selectOptions ../extraSkills selected=extraSkill.id}}
                        </select>
                        <a data-lvl0-action="deleteExtraSkill" title="Supprimer skill"><i class="fas fa-trash"></i></a>
                    </div>
                {{/each}}
            </div>
            <button data-lvl0-action="addItemExtraSkill">Ajouter une compétence</button>
        </div>
    {{/if}}
</form>
