<div class="partial-root-inventory">
    {{#each itemTypesInInventoryTabs as |itemType| }}
        <h2>{{localize (concat2 'ITEM.Type' (titleCase itemType)) }}</h2>
        <div class="item-line">
            <div class="equiped">
                {{#if (lookup (lookup ../itemTypesConfigs itemType) "canBeEquiped")}}
                    <b>Équipé</b>
                {{else}}
                    <b>Utiliser</b>
                {{/if}}
            </div>
            <div class="name"><b>Nom</b></div>
            <div class="clutter"><b>Encombrement</b></div>
            <div class="quantity"><b>Qtt</b></div>
        </div>
        {{#each2 ../itemsByType itemType as | item |}}
            <div class="item-line" data-item-id="{{item.id}}">
                <div class="equiped">
                    {{#if (lookup (lookup ../../itemTypesConfigs itemType) "canBeEquiped")}}
                        <input type="checkbox" {{checked item.data.data.equiped}}
                               data-equip-item-checkbox="{{item.id}}">
                    {{else}}
                        {{#if item.actionnable}}
                            <a data-item-action="use" title="Utiliser"><i class="fa fa-play"></i></a>
                        {{/if}}
                    {{/if}}
                </div>

                <div class="icon">
                    <img src="{{item.img}}"/>
                </div>
                <div class="quantity">
                    {{#if item.data.data.quantifiable}}
                        <input type="text" value="{{item.data.data.quantity}}" data-update-item-quantity="{{item.id}}"/>
                    {{/if}}
                </div>
                <div class="name">
                    <div>
                        <span class="title">
                            {{item.name}}
                            {{#if (gt item.data.data.charge 0)}} - {{item.data.data.charge}} charge(s){{/if}}
                        </span>
                    </div>
                    {{#if item.data.data.description}}
                        <div>
                            <span class="description">
                                {{markdown item.data.data.description}}
                            </span>
                        </div>
                    {{/if}}
                    {{#if (eq item.type 'shield')}}
                        <div class="description">
                            <strong>Dégât: </strong> {{item.data.data.damage}}
                            <strong>Blocage: </strong> {{item.data.data.blockValue}}
                        </div>
                    {{/if}}
                    {{#if item.data.data.restriction}}
                        <div class="restriction">
                            <strong>Limitation: </strong> {{item.data.data.restriction}}
                        </div>
                    {{/if}}
                </div>
                <div class="clutter">
                    {{item.data.data.clutter}}
                </div>
                <div class="actions item-controls">
                    <a class="item-control" data-item-action="share" title="Partager l'objet"><i class="fa fa-share"></i></a>
                    <a class="item-control" data-item-action="edit" title="Edit Item"><i class="fa fa-edit"></i></a>
                    <a class="item-control" data-item-action="delete" title="Delete Item"><i class="fa fa-trash"></i></a>
                </div>
            </div>
        {{/each2}}
    {{/each}}
    <section>
        <h2 class="{{ternary (gt actorData.computedData.clutter.usedSpace actorData.computedData.clutter.totalSpace) 'bag-full' ''}}">
            Encombrement ({{actorData.computedData.clutter.usedSpace}} / {{actorData.computedData.clutter.totalSpace}})
        </h2>
        <div class="clutter-table">
            <div class="column">
                <div class="cell"></div>
                {{#times actorData.computedData.clutter.rowCount}}
                    <div class="cell">{{letterFromA this}}</div>
                {{/times}}
            </div>
            {{#with actorData.computedData.clutter.usedCells as |usedCells|}}
                {{#times ../actorData.computedData.clutter.columnCount}}
                    <div class="column">
                        {{#with this as |column|}}
                            <div class="cell">
                                {{lookup ../../actorData.computedData.clutter.columnsPhy column}}
                            </div>
                            {{#times ../../actorData.computedData.clutter.rowCount}}
                                {{#with this as |row|}}
                                    <div class="cell" data-item-type="{{lookup usedCells (concat2 column ',' row)}}">
                                        {{#if (lookup usedCells (concat2 column ',' row))}}
                                            <div class="description">
                                                {{localize (concat2 'ITEM.Type' (titleCase (lookup usedCells (concat2 column ',' row))))}}
                                            </div>
                                        {{/if}}
                                    </div>
                                {{/with}}
                            {{/times}}

                        {{/with}}
                    </div>
                {{/times}}
            {{/with}}
        </div>
    </section>
</div>
