<div class="partial-root-modifiers">
    {{#if canEditLevel}}
    <h2>Level</h2>
        <input type="text" name="data.level.value" value="{{actorData.level.value}}" data-dtype="Number" />
        <button data-action="generateMissingLevelUpData">Faire les level up pour mettre à jour les point de vie et de mana</button>
    {{/if}}
    <h2>Statistique de base</h2>
    <p>Les statistiques original du personnage (Lors de la création)</p>
    <div class="base-stats">
        {{#if (not canChangeStats)}}
            <label class="stat-phy">
                Physique
                <input type="text" name="data.baseStats.phy.value" value="{{actorData.baseStats.phy.value}}" data-dtype="Number" placeholder="1" maxlength="1" {{#if (not canEditModifiers)}}disabled{{/if}}/>
            </label>
            <label class="stat-dex">
                Dextérité
                <input type="text" name="data.baseStats.dex.value" value="{{actorData.baseStats.dex.value}}" data-dtype="Number" placeholder="1" maxlength="1" {{#if (not canEditModifiers)}}disabled{{/if}}/>
            </label>
            <label class="stat-int">
                Intelligence
                <input type="text" name="data.baseStats.int.value" value="{{actorData.baseStats.int.value}}" data-dtype="Number" placeholder="1" maxlength="1" {{#if (not canEditModifiers)}}disabled{{/if}}/>
            </label>
            <label class="stat-cha">
                Charisme
                <input type="text" name="data.baseStats.cha.value" value="{{actorData.baseStats.cha.value}}" data-dtype="Number" placeholder="1" maxlength="1" {{#if (not canEditModifiers)}}disabled{{/if}}/>
            </label>
            <label class="stat-per">
                Perception
                <input type="text" name="data.baseStats.per.value" value="{{actorData.baseStats.per.value}}" data-dtype="Number" placeholder="1" maxlength="1" {{#if (not canEditModifiers)}}disabled{{/if}}/>
            </label>
        {{/if}}
    </div>
    <h2>Modificateurs supplémentaires</h2>
    <div>
        <p>Permet au MJ d'ajuster certains détails</p>
        <div class="modifier-values">
            <div class="modifier-value header">
                <span>Nom</span>
                <span>Stat</span>
                <span></span>
                <span>Valeur</span>
                <span>Permanent</span>
            </div>
            {{#each actorData.modifiers as | modifier |}}
                <div class="modifier-value" data-modifier-id="{{@key}}">
                    {{#if ../canEditModifiers}}
                        <input name="data.modifiers.{{@key}}.name" data-dtype="String" type="text" value="{{modifier.name}}" />
                        <select name="data.modifiers.{{@key}}.stat">
                            {{selectOptions ../modifierSkills selected=modifier.stat}}
                        </select>
                        <span>+</span>
                        <input name="data.modifiers.{{@key}}.value" data-dtype="Number" type="number" value="{{modifier.value}}" />
                        <input type="checkbox" {{checked modifier.permanent}} data-permanent-modifier-checkbox="{{@key}}">
                        <a data-lvl0-action="deleteActorModifier" title="Supprimer modificateur"><i class="fas fa-trash"></i></a>
                    {{else}}
                        <span>{{modifier.name}}</span>
                        <span>{{lookup (lookup ../statsDefinition.stats modifier.stat) 'name'}}</span>
                        <span>+</span>
                        <span>{{modifier.value}}</span>
                        <input type="checkbox" {{checked modifier.permanent}} disabled>
                    {{/if}}
                </div>

            {{/each}}
        </div>
        {{#if canEditModifiers}}
            <button data-lvl0-action="addActorModifier">Ajouter un modificateur</button>
        {{/if}}
    </div>
    <h2>Statistiques gagné lié aux niveaux</h2>
    <div>
        <div class="level-up-info header">
            <div class="level">Niveau</div>
            <div class="health">Pt de vie additionnel</div>
            <div class="mana">Pt de magie additionnel</div>
            <div class="stat">Caractéristique</div>
        </div>
        {{#each actorData.levelUpData as |levelInfo|}}
            <div class="level-up-info">
                <div class="level">{{inc @index}}</div>
                <div class="health">{{levelInfo.health}}</div>
                <div class="mana">{{levelInfo.mana}}</div>
                <div class="stat">{{levelInfo.additionalStat}}</div>
            </div>
            {{#ifIsNthItem nth=4}}
                <div class="separator"></div>
            {{/ifIsNthItem}}
        {{/each}}
    </div>
</div>
