<form class="{{cssClass}}" autocomplete="off">
    <div class="lvl0mf-sheet {{#if actor.flags.lvl0mf-sheet.allow-edit}}allow-edit{{/if}}">
        <nav class="sheet-tabs tabs">
            <a class="item" data-tab="sheet_character">{{localize 'LVL0MF.Sheet.Tab.Character.title'}}</a>
            <a class="item" data-tab="sheet_equipment">{{localize 'LVL0MF.Sheet.Tab.Equipment.title'}}</a>
            <a class="item" data-tab="sheet_inventory">{{localize 'LVL0MF.Sheet.Tab.Inventory.title'}}</a>
            <a class="item" data-tab="sheet_notes">{{localize 'LVL0MF.Sheet.Tab.Notes.title'}}</a>
        </nav>
        <section class="sheet-body">
            <div class="tab sheet-inventory" data-tab="sheet_inventory">
                {{> "systems/lvl0mf-sheet/templates/actors/partials/inventory.hbs"}}
            </div>
            <div class="tab sheet-notes" data-tab="sheet_notes">
                {{editor content=data.notes.content target="data.notes.content" button=true editable=editable owner=owner}}
            </div>
            <div class="tab" data-tab="sheet_character">
                <div class="sheet-character">
                    <section class="sheet-header">
                        <label class="sheet-character-name">
                            <span class="sheet-label">Nom</span>
                            <span class="sheet-value"><input type="text" name="name" data-dtype="String" value="{{actor.name}}"/></span>
                        </label>
                        <label class="sheet-player-name">
                            <span class="sheet-label">Joueur</span>
                            <span class="sheet-value"><input type="text" name="data.player.name" data-dtype="String" value="{{data.player.name}}"/></span>
                        </label>
                        <label class="sheet-race">
                            <span class="sheet-label">Race</span>
                            <span class="sheet-value">
                                <select name="data.race.id" data-dtype="String">
                                    <option>Choisir une race</option>
                                    {{#select data.race.id}}
                                        {{#each races as |raceCategory| }}
                                            <optgroup label="{{localize (concat2 'LVL0MF.RaceCategory.' @key)}}">
                                                {{#each raceCategory as | race |}}
                                                    <option value="{{@key}}">{{race.name}}</option>
                                                {{/each}}
                                            </optgroup>
                                        {{/each}}
                                    {{/select}}
                                </select>
                                {{#if (lookup (lookup racesByIds data.race.id) 'display_subrace')}}
                                    <input type="text" name="data.race.name" value="{{ data.race.name }}" />
                                {{/if}}
                            </span>
                        </label>
                        <label class="sheet-job">
                            <span class="sheet-label">Classe:</span>
                            <span class="sheet-value">
                                {{#if canSelectJob}}
                                    <select name="data.job.id" data-dtype="String">
                                        {{selectOptions jobsNamesById selected=data.job.id}}
                                    </select>
                                {{/if}}
                                {{#if (not canSelectJob)}}
                                    {{data.computedData.bases.job.name}}
                                {{/if}}
                                <input type="text" name="data.job.element" disabled style="display: none;"/>
                            </span>
                        </label>

                        <label class="sheet-age">
                            <span class="sheet-label">Age</span>
                            <span class="sheet-value"><input type="text" name="data.age.value" value="{{data.age.value}}" data-dtype="Number" placeholder="13" maxlength="4"/></span>
                        </label>
                        <label class="sheet-level">
                            <span class="sheet-label">Niveau</span>
                            <span class="sheet-value">{{data.level.value}}</span>
                        </label>
                        <label class="sheet-size">
                            <span class="sheet-label">Taille</span>
                            <span class="sheet-value"><input type="text" name="data.size.value" value="{{data.size.value}}" data-dtype="String" placeholder="1.00" maxlength="10"/></span>
                        </label>
                    </section>

                    <section class="sheet-logo">
                        <div class="logo">
                            <img alt="Logo LVL0 Médiéval-Fantastique" src="systems/lvl0mf-sheet/assets/logo/logo-character-sheet.png" />
                        </div>
                        <div class="character-face">
                            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
                        </div>
                    </section>

                    <section class="sheet-stats">
                        <section class="sheet-stat">
                            <div class="sheet-label"></div>
                            <div class="sheet-">Base</div>
                            <div class="sheet-">Bonus</div>
                            <div class="sheet-">Armure</div>
                        </section>
                        <label class="sheet-stat stat-phy">
                            <span class="sheet-label">
                                Physique
                                {{#if (eq data.computedData.bases.race.bonusStat "phy")}}
                                    <span>*</span>
                                {{/if}}
                            </span>
                            <span class="sheet-base">
                                {{#if canChangeStats}}
                                    <input type="text" name="data.baseStats.phy.value" value="{{data.baseStats.phy.value}}" data-dtype="Number" placeholder="1" maxlength="1"/>
                                {{else}}
                                    {{data.baseStats.phy.value}}
                                {{/if}}
                            </span>
                            <span class="sheet-bonus">{{data.computedData.stats.baseStats.phy.bonus}}</span>
                        </label>
                        <label class="sheet-stat stat-dex">
                            <span class="sheet-label">
                                Dextérité
                                {{#if (eq data.computedData.bases.race.bonusStat "dex")}}
                                    <span>*</span>
                                {{/if}}
                            </span>
                            <span class="sheet-base">
                                {{#if canChangeStats}}
                                    <input type="text" name="data.baseStats.dex.value" value="{{data.baseStats.dex.value}}" data-dtype="Number" placeholder="1" maxlength="1"/>
                                {{else}}
                                    {{data.baseStats.dex.value}}
                                {{/if}}
                            </span>
                            <span class="sheet-bonus">{{data.computedData.stats.baseStats.dex.bonus}}</span>
                            <span class="sheet-armor-mod">{{data.computedData.stats.baseStats.dex.armor}}</span>
                        </label>
                        <label class="sheet-stat stat-int">
                            <span class="sheet-label">
                                Intelligence
                                {{#if (eq data.computedData.bases.race.bonusStat "int")}}
                                    <span>*</span>
                                {{/if}}
                            </span>
                            <span class="sheet-base">
                                {{#if canChangeStats}}
                                    <input type="text" name="data.baseStats.int.value" value="{{data.baseStats.int.value}}" data-dtype="Number" placeholder="1" maxlength="1"/>
                                {{else}}
                                    {{data.baseStats.int.value}}
                                {{/if}}
                            </span>
                            <span class="sheet-bonus">{{data.computedData.stats.baseStats.int.bonus}}</span>
                        </label>
                        <label class="sheet-stat stat-cha">
                            <span class="sheet-label">
                                Charisme
                                {{#if (eq data.computedData.bases.race.bonusStat "cha")}}
                                    <span>*</span>
                                {{/if}}
                            </span>
                            <span class="sheet-base">
                                {{#if canChangeStats}}
                                    <input type="text" name="data.baseStats.cha.value" value="{{data.baseStats.cha.value}}" data-dtype="Number" placeholder="1" maxlength="1"/>
                                {{else}}
                                    {{data.baseStats.cha.value}}
                                {{/if}}
                            </span>
                            <span class="sheet-bonus">{{data.computedData.stats.baseStats.cha.bonus}}</span>
                        </label>
                        <label class="sheet-stat stat-per">
                            <span class="sheet-label">
                                Perception
                                {{#if (eq data.computedData.bases.race.bonusStat "per")}}
                                    <span>*</span>
                                {{/if}}
                            </span>
                            <span class="sheet-base">
                                {{#if canChangeStats}}
                                    <input type="text" name="data.baseStats.per.value" value="{{data.baseStats.per.value}}" data-dtype="Number" placeholder="1" maxlength="1"/>
                                {{else}}
                                    {{data.baseStats.per.value}}
                                {{/if}}
                            </span>
                            <span class="sheet-bonus">{{data.computedData.stats.baseStats.per.bonus}}</span>
                        </label>
                    </section>

                    <section class="sheet-mv">
                        <span class="sheet-label">Mouvement</span>
                        <label class="sheet-label">
                            <span class="stat-phy">Phy</span> + <span class="stat-dex">Dex</span>
                        </label>
                        <span class="sheet-value">{{data.computedData.stats.movement.value}}</span>
                    </section>

                    <section class="sheet-health">
                        <h3>Point de vie</h3>
                        <label class="sheet-health-max">
                            <div class="sheet-label">Maximum</div>
                            <div class="sheet-value">{{data.health.max}}</div>
                        </label>
                        <label class="sheet-health-damage">
                            <div class="sheet-label">Restant</div>
                            <div class="sheet-value"><input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number" placeholder="0" maxlength="4"/></div>
                        </label>
                        <label class="sheet-health-armor">
                            <div class="sheet-label">Armure</div>
                            <div class="sheet-value">{{data.computedData.stats.armor.value}}</div>
                        </label>
                        <div class="hp-bar" style="background: linear-gradient(
                                -90deg,
                                transparent 0%,
                                transparent calc(100% - ((100% / ({{#if (eq data.health.max 0)}} 1 {{else}} {{data.health.max}} {{/if}} + {{#if data.health.tempmax}}{{data.health.tempmax}}{{else}}0{{/if}} )) * ({{data.health.value}} + {{#if data.health.temp}}{{data.health.temp}}{{else}}0{{/if}})) ),
                                rgba(0,200,0,0.5) calc(100% - ((100% / ({{#if (eq data.health.max 0)}} 1 {{else}} {{data.health.max}} {{/if}} + {{#if data.health.tempmax}}{{data.health.tempmax}}{{else}}0{{/if}} )) * ({{data.health.value}} + {{#if data.health.temp}}{{data.health.temp}}{{else}}0{{/if}})) ),
                                rgba(0,200,0,0.5) 100%);">
                        </div>
                    </section>

                    <section class="sheet-magic">
                        <h3>Point de mana</h3>
                        <label class="sheet-magic-max">
                            <div class="sheet-label">Maximum</div>
                            <div class="sheet-value">{{data.mana.max}}</div>
                        </label>
                        <label class="sheet-magic-left">
                            <div class="sheet-label">Restant</div>
                            <div class="sheet-value"><input type="text" name="data.mana.value" value="{{data.mana.value}}" data-dtype="Number" placeholder="0" maxlength="3"/></div>
                        </label>
                        <label class="sheet-magic-level">
                            <div class="sheet-label">Arcane</div>
                            <div class="sheet-value">{{data.computedData.magic.arcaneLevel}}</div>
                        </label>
                    </section>

                    <section class="sheet-xp">
                        <h3>Expérience</h3>
                        <label class="sheet-xp-value">
                            <span class="sheet-value"><input type="text" name="data.experience.value" value="{{data.experience.value}}" data-dtype="Number" placeholder="0" maxlength="3"/></span>
                        </label>
                        <div class="sheet-xp-to-next-level">
                            <span>Prochain niveau: {{data.computedData.leveling.nextLevelExperience}} xp</span>
                        </div>
                        {{#if canLevelUp}}
                            <div>
                                <button data-action="levelUp">Level up</button>
                            </div>
                        {{/if}}
                    </section>
                    <section class="sheet-specialities-skills">
                        {{> "systems/lvl0mf-sheet/templates/actors/partials/skills.hbs"}}
                    </section>
                </div>
            </div>

            <div class="tab" data-tab="sheet_equipment">
                {{> "systems/lvl0mf-sheet/templates/actors/partials/equipment.hbs"}}
            </div>
        </section>
    </div>
</form>
