<div class="roll-stats-dialog">
    <h2>Rouler les stats du personnage</h2>
    {{#if (eq state 'modeSelection')}}
        <p>Vous pouvez choisir le mode utiliser pour rouler les stats:</p>
        <ul>
            <li>
                5 valeurs aléatoires, sans `1`
                <button data-select-mode="random-1">Choisir</button>
            </li>
            <li>
                Choisir parmi 3 ensemble de valeur aléatoire
                <button data-select-mode="random-3">Choisir</button>
            </li>
        </ul>
    {{/if}}

    {{#if (eq state 'selectColumn')}}
        <p>
            Choisir une colonne parmi les 3 suivantes. Vous pouvez choisir dans quel stat mettre chaque valeur ensuite.
        </p>
        <div class="select-column">
            {{#each rolls as |roll|}}
                <div class="column">
                    {{#each roll as |value|}}
                        <div class="dice">
                        <span class="value">
                            {{value}}
                        </span>
                        </div>
                    {{/each}}
                    <div class="actions" data-select-roll="{{@index}}">
                        <button>Choisir</button>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}

    {{#if (eq state 'selectValues')}}
        <p>
            Associer chaque statistique avec les valeurs roulés
        </p>
        <div class="select-values">
            {{#each selectedRoll as |value|}}
                <div class="dice">
                    <span class="value">
                        {{value}}
                    </span>
                    <select data-stat-dice="{{@index}}">
                        {{selectOptions ../stats selected=(lookup ../diceStats @index)}}
                    </select>
                </div>
            {{/each}}
        </div>
    {{/if}}


    {{#if valid}}
        <div>
            <button data-dialog-action="confirm">Valider</button>
        </div>
    {{/if}}
</div>
