<div class="weapon-selector-dialog">
    <section class="weapons">
        <h2>Armes</h2>
        <div class="weapon-line header">
            <div class="name">Nom</div>
            <div class="handCount">Nbre de main</div>
            <div class="damage">Dégâts</div>
        </div>
        <div class="separator"></div>
        {{#each weapons as |item| }}
            <div class="{{ternary (eq item.id selectedWeaponId) "weapon-line selected" "weapon-line"}}" data-select-weapon data-item-id="{{item.id}}" >
                <div class="select"><input type="radio" name="weapon" value="{{item.id}}"></div>
                <div class="icon"><img src="{{item.img}}"/></div>
                <div class="name">
                    <div class="title">{{item.name}}</div>
                    {{#if item.data.data.description}}
                        <div class="description">
                            {{markdown item.data.data.description}}
                        </div>
                    {{/if}}
                </div>
                <div class="handCount">{{item.data.data.handCount}}</div>
                <div class="damage">{{weaponDamageFormula ../weaponType item}}</div>
            </div>
            {{#if (not @last)}}
                <div class="separator"></div>
            {{/if}}
        {{/each}}
    </section>
    <section class="ammunition">
        <h2>Munitions</h2>
        <div class="ammunition-line header">
            <div class="name">Nom</div>
            <div class="damage">Dégâts additionnel</div>
            <div class="quantity">Quantité</div>
        </div>
        <div class="separator"></div>
        <div class="ammunition-line" data-select-ammo>
            <div class="select"><input type="radio" name="ammo" value="default"></div>
            <div class="name">
                <div class="title">Default</div>
            </div>
            <div class="damage">0</div>
            <div class="quantity">&infin;</div>
        </div>
        <div class="separator"></div>
        {{#each ammunition as |item| }}
            <div class="ammunition-line" data-select-ammo data-item-id="{{item.id}}" data-ammunition-type="{{item.data.data.ammunitionType}}">
                <div class="select"><input type="radio" name="ammo" value="{{item.id}}"></div>
                <div class="icon"><img src="{{item.img}}"/></div>
                <div class="name">
                    <div class="title">{{item.name}}</div>
                    {{#if item.data.data.description}}
                        <div class="description">
                            {{markdown item.data.data.description}}
                        </div>
                    {{/if}}
                </div>
                <div class="damage">{{item.data.data.extraDamage}}
                    {{#if item.data.data.extraDamageEffect}}
                        <span>({{weaponEffectName item.data.data.extraDamageEffect}})</span>
                    {{/if}}
                </div>
                <div class="quantity">{{item.data.data.quantity}}</div>
            </div>
            {{#if (not @last)}}
                <div class="separator"></div>
            {{/if}}
        {{/each}}
    </section>
    <div class="actions">
        <button data-dialog-action="cancel">Annuler</button>
        <button data-dialog-action="confirm">Utiliser</button>
    </div>
</div>
