<div class="partial-root-skills">
    {{#if (gt data.computedData.skills.availableSkillPoints.total 0)}}
        <section class=skill-points">
            <ul>
                {{#if (gt data.computedData.skills.availableSkillPoints.job_combat 0)}}
                    <li>{{data.computedData.skills.availableSkillPoints.job_combat}} points à placer dans les habilitées de combat ou de classe</li>
                {{/if}}
                {{#if (gt data.computedData.skills.availableSkillPoints.general 0)}}
                    <li>{{data.computedData.skills.availableSkillPoints.general}} points à placer dans les habilitées général</li>
                {{/if}}
                {{#if (gt data.computedData.skills.availableSkillPoints.all 0)}}
                    <li>{{data.computedData.skills.availableSkillPoints.all}} points à placer n'importe où (3 première case seulement)</li>
                {{/if}}
                {{#if (gt data.computedData.skills.availableSkillPoints.master 0)}}
                    <li>{{data.computedData.skills.availableSkillPoints.master}} points à placer n'importe où (possibilité de cocher les cases expertises "Maître")</li>
                {{/if}}
                {{#if (gt data.computedData.skills.availableSkillPoints.prodigy 0)}}
                    <li>{{data.computedData.skills.availableSkillPoints.prodigy}} points à placer n'importe où, incluant les cases expertises "Maître" ou "Prodige"</li>
                {{/if}}
            </ul>
        </section>
    {{/if}}

    <div class="skill-list">
        <section class="sheet-jobs-skills">
            {{#each jobs.base as | job | }}
                <section class="sheet-job-skills">
                    <h4>{{job.name}}</h4>
                    {{#each2 ../skills @key as | skill | }}
                        <span class="sheet-skill">
                            <span class="sheet-skill-label" data-skill="{{concat2 @../key '.' @key}}">
                                {{skill.name}}
                                <div class="description"><strong>{{skill.name}}</strong>: {{skill.description}}</div>
                            </span>
                            {{skill-value skill ../../data @../key @key ../../data.}}
                        </span>
                    {{/each2}}
                </section>
                <div class="separator"></div>
            {{/each}}
        </section>

        <section class="sheet-combat-skills">
            <h4>Combat</h4>
            {{#each2 skills 'combat' as | skill | }}
                <span class="sheet-skill">
                    <span class="sheet-skill-label" data-skill="{{concat2 'combat.' @key}}">
                        {{skill.name}}
                        <div class="description"><strong>{{skill.name}}</strong>: {{skill.description}}</div>
                    </span>
                    {{skill-value skill ../data 'combat' @key}}
                </span>
            {{/each2}}
        </section>

        <section class="sheet-misc-skills">
            <h4>Général</h4>
            {{#each2 skills 'general' as | skill | }}
                <span class="sheet-skill">
                    <span class="sheet-skill-label" data-skill="{{concat2 'general.' @key}}">
                        {{skill.name}}
                        <div class="description"><strong>{{skill.name}}</strong>: {{skill.description}}</div>
                    </span>
                    {{skill-value skill ../data 'general' @key}}
                </span>
                {{#ifIsNthItem nth=4}}
                    <div class="separator"></div>
                {{/ifIsNthItem}}
            {{/each2}}
        </section>
    </div>
</div>

