<div class="weapon-selector-dialog">
    {{#each spells as |spell|}}
        <div class="spell">
            <h2 class="name">{{spell.name}}</h2>
            <div class="description">{{{spell.description}}}</div>
            <div class="stats">
                <div class="cost"><span class="label">Coût</span> {{spell.cost}} point de magie</div>
                {{spellSelectorStat 'distance' spell.distance}}
                {{spellSelectorStat 'duration' spell.duration}}
                {{spellSelectorStat 'area' spell.area}}
            </div>
            {{spellSelectorStat 'criticalSuccess' spell.criticalSuccess}}
            {{spellSelectorStat 'resilience' spell.resilience}}
            {{spellSelectorStat 'bonus' spell.bonus}}
            {{spellSelectorStat 'damage' spell.damage}}
            {{spellSelectorStat 'heal' spell.heal}}
            <button class="action" data-action="confirm" data-spell-id="{{spell.id}}"> Lancer</button>
        </div>
    {{/each}}
</div>
