<form class="{{cssClass}} sheet-item" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    {{#if isOwned}}
        <div class="form-group">
            <label>Équipé ?</label>
            <input type="checkbox" name="data.equiped" data-dtype="Boolean" {{checked data.equiped}}/>
        </div>
    {{/if}}

    <div class="form-group">
        <label>Description</label>
        <input name="data.description" data-dtype="String" type="text" value="{{item.data.description}}" />
    </div>
    <div class="form-group">
        <label>Détails</label>
        <textarea name="data.details" data-dtype="String">{{data.details}}</textarea>
    </div>
    <div class="form-group">
        <label>Encombrement</label>
        <input name="data.clutter" data-dtype="Number" type="number" min="0" step="1" value="{{item.data.clutter}}" />
    </div>
    <div class="form-group">
        <label>Prix</label>
        <input name="data.price" data-dtype="Number" type="number" min="0" step="1" value="{{item.data.price}}" />
    </div>
    <div class="form-group">
        <label>Quantifiable</label>
        <input type="checkbox" name="data.quantifiable" data-dtype="Boolean" {{checked data.quantifiable}}/>
    </div>
    <div class="form-group">
        <label>Limitation</label>
        <input type="text" name="data.restriction" data-dtype="String" value="{{data.restriction}}"/>
    </div>

    {{#if (eq item.type 'ammunition')}}
        <div class="form-group">
            <label>Type</label>
            <select name="data.ammunitionType">
                {{#select data.ammunitionType}}
                    <option value="arrow">Flèche</option>
                    <option value="dart">Dard</option>
                    <option value="marble">Bille</option>
                {{/select}}
            </select>
        </div>
        <div class="form-group">
            <label>Dégâts additionnel</label>
            <input name="data.extraDamage" data-dtype="String" type="text" value="{{item.data.extraDamage}}" />
        </div>
        <div class="form-group">
            <label>Éléments</label>
            <input name="data.extraDamageEffect" data-dtype="String" type="text" value="{{item.data.extraDamageEffect}}" />
        </div>
        <div class="form-group">
            <label>Bonus</label>
            <input name="data.bonus" data-dtype="String" type="text" value="{{item.data.bonus}}" />
        </div>
    {{/if}}
    {{#if (eq item.type 'weapon')}}
        <div class="form-group">
            <label>Dégâts</label>
            <input name="data.damage" data-dtype="String" type="text" value="{{item.data.damage}}" />
        </div>
        <div class="form-group">
            <label>Éléments</label>
            <input name="data.element" data-dtype="String" type="text" value="{{item.data.element}}" />
        </div>
        <div class="form-group">
            <label>Bonus</label>
            <input name="data.bonus" data-dtype="String" type="text" value="{{item.data.bonus}}" />
        </div>
        <div class="form-group">
            <label>Nombre de main</label>
            <input name="data.handCount" data-dtype="Number" type="number" value="{{item.data.handCount}}" />
        </div>
    {{/if}}
    {{#if (eq item.type 'armor')}}
        <div class="form-group">
            <label>Protection</label>
            <input name="data.protection" data-dtype="Number" type="text" value="{{item.data.protection}}" />
        </div>
        <div class="form-group">
            <label>Malus dextérité</label>
            <input name="data.dexMalus" data-dtype="Number" type="text" value="{{item.data.dexMalus}}" />
        </div>
    {{/if}}
    {{#if (eq item.type 'shield')}}
        <div class="form-group">
            <label>Blocage</label>
            <input name="data.blockValue" data-dtype="String" type="text" value="{{item.data.blockValue}}" />
        </div>
    {{/if}}
    {{#if (eq item.type 'bag')}}
        <div class="form-group">pu
            <label>Lignes supplémentaires</label>
            <input name="data.extraRows" data-dtype="Number" type="number" value="{{item.data.extraRows}}" />
        </div>
        <div class="form-group">
            <label>Colones supplémentaires</label>
            <input name="data.extraColumns" data-dtype="Number" type="number" value="{{item.data.extraColumns}}" />
        </div>
        <div class="form-group">
            <label>Taille infini</label>
            <input name="data.noLimit" data-dtype="String" type="text" value="{{item.data.noLimit}}" />
        </div>
    {{/if}}
    {{#if (or (eq item.type 'ring') (eq item.type 'weapon') (eq item.type 'armor') (eq item.type 'cloak') (eq item.type 'belt') (eq item.type 'head') (eq item.type 'necklace') (eq item.type 'hand') (eq item.type 'foot'))}}
        <div>
            <div>Modificateurs:</div>
            <div class="modifier-values">
                {{#each item.data.modifiers as | modifier |}}
                    <div class="modifier-value" data-modifier-id="{{@key}}">
                        <input name="data.modifiers.{{@key}}.stat" data-dtype="String" type="text" value="{{modifier.stat}}" />
                        <span>+</span>
                        <input name="data.modifiers.{{@key}}.value" data-dtype="Number" type="number" value="{{modifier.value}}" />
                        <a data-lvl0-action="deleteModifier" title="Supprimer modificateur"><i class="fas fa-trash"></i></a>
                    </div>
                {{/each}}
            </div>
            <button data-lvl0-action="addItemModifier">Ajouter un modificateur</button>
        </div>
    {{/if}}
    {{#if (or (eq item.type 'ring') (eq item.type 'armor') (eq item.type 'cloak') (eq item.type 'belt') (eq item.type 'head') (eq item.type 'necklace') (eq item.type 'hand') (eq item.type 'foot'))}}
        <div>
            <div>Compétences:</div>
            <div class="modifier-values">
                {{#each item.data.extraSkills as | extraSkill |}}
                    <div class="extra-skill-line" data-extra-skill-id="{{@key}}">
                        <select name="data.extraSkills.{{@key}}.id">
                            {{selectOptions ../extraSkills selected=extraSkill.id}}
                        </select>
                        <a data-lvl0-action="deleteExtraSkill" title="Supprimer skill"><i class="fas fa-trash"></i></a>
                    </div>
                {{/each}}
            </div>
            <button data-lvl0-action="addItemExtraSkill">Ajouter une compétence</button>
        </div>
    {{/if}}
</form>
