<form class="{{cssClass}} sheet-item" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    {{#if isOwned}}
        <div class="form-group">
            <label>Équipé ?</label>
            <input type="checkbox" name="data.equiped" data-dtype="Boolean" {{checked itemData.equiped}}/>
        </div>
    {{/if}}

    <div class="form-group">
        <label>Description</label>
        <textarea name="data.description" data-dtype="String">{{itemData.description}}</textarea>
    </div>
    <div class="form-group">
        <label>Détails</label>
        <textarea name="data.details" data-dtype="String">{{itemData.details}}</textarea>
    </div>
    <div class="form-group">
        <label>Encombrement</label>
        <input name="data.clutter" data-dtype="Number" type="number" min="0" step="1" value="{{itemData.clutter}}" />
    </div>
    <div class="form-group">
        <label>Prix</label>
        <input name="data.price" data-dtype="Number" type="number" min="0" step="1" value="{{itemData.price}}" />
    </div>
    <div class="form-group">
        <label>Quantifiable</label>
        <input type="checkbox" name="data.quantifiable" data-dtype="Boolean" {{checked itemData.quantifiable}}/>
    </div>
    <div class="form-group">
        <label>Limitation</label>
        <input type="text" name="data.restriction" data-dtype="String" value="{{itemData.restriction}}"/>
    </div>

    {{#if (or (eq item.type 'scroll') (eq item.type 'wand'))}}
        <div class="form-group">
            <label>Sort (id)</label>
            <input type="text" name="data.spell" data-dtype="String" value="{{itemData.spell}}" disabled/>
        </div>
    {{/if}}
    {{#if (eq item.type 'wand')}}
        <div class="form-group">
            <label>Charge</label>
            <input type="number" name="data.charge" data-dtype="String" value="{{itemData.charge}}" step="1" min="0"/>
        </div>
    {{/if}}
    {{#if (eq item.type 'ammunition')}}
        <div class="form-group">
            <label>Type</label>
            <select name="data.ammunitionType">
                {{selectOptions ammunitionTypes selected=itemData.ammunitionType}}
            </select>
        </div>
        <div class="form-group">
            <label>Dégâts additionnel</label>
            <input name="data.extraDamage" data-dtype="String" type="text" value="{{itemData.extraDamage}}" />
        </div>
        <div class="form-group">
            <label>Éléments</label>
            <select name="data.extraDamageEffect">
                {{selectOptions elements selected=itemData.extraDamageEffect}}
            </select>
        </div>
        <div class="form-group">
            <label>Bonus</label>
            <input name="data.bonus" data-dtype="String" type="text" value="{{itemData.bonus}}" />
        </div>
    {{/if}}
    {{#if (eq item.type 'weapon')}}
        <div class="form-group">
            <label>Type</label>
            <select name="data.weaponType">
                {{selectOptions weaponTypes selected=itemData.weaponType}}
            </select>
        </div>
        <div class="form-group">
            <label>Dégâts</label>
            <input name="data.damage" data-dtype="String" type="text" value="{{itemData.damage}}" />
        </div>
        {{#if (eq itemData.weaponType 'melee-range')}}
            <div class="form-group">
                <label>Dégâts (Lancer/Tir)</label>
                <input name="data.rangeDamage" data-dtype="String" type="text" value="{{itemData.rangeDamage}}"/>
            </div>
        {{/if}}
        <div class="form-group">
            <label>Éléments</label>
            <select name="data.element">
                {{selectOptions elements selected=itemData.element}}
            </select>
        </div>
        <div class="form-group">
            <label>Bonus</label>
            <input name="data.bonus" data-dtype="String" type="text" value="{{itemData.bonus}}" />
        </div>
        <div class="form-group">
            <label>Nombre de main</label>
            <input name="data.handCount" data-dtype="Number" type="number" value="{{itemData.handCount}}" />
        </div>
        <div class="form-group">
            <label>Type de munition</label>
            <select name="data.usedAmmunitionType">
                {{selectOptions usedAmmunitionTypes selected=itemData.usedAmmunitionType}}
            </select>
        </div>
    {{/if}}
    {{#if (eq item.type 'armor')}}
        <div class="form-group">
            <label>Protection</label>
            <input name="data.protection" data-dtype="Number" type="text" value="{{itemData.protection}}" />
        </div>
        <div class="form-group">
            <label>Malus dextérité</label>
            <input name="data.dexMalus" data-dtype="Number" type="text" value="{{itemData.dexMalus}}" />
        </div>
    {{/if}}
    {{#if (or (eq item.type 'armor') (eq item.type 'necklace') (eq item.type 'cloak') (eq item.type 'ring') (eq item.type 'head') (eq item.type 'belt') (eq item.type 'hand'))}}
        <div class="form-group">
            <label>Immunités et Invulnérabilités</label>
            <input name="data.immunity" data-dtype="String" type="text" value="{{itemData.immunity}}" />
        </div>
    {{/if}}
    {{#if (eq item.type 'shield')}}
        <div class="form-group">
            <label>Dégâts</label>
            <input name="data.damage" data-dtype="String" type="text" value="{{itemData.damage}}" />
        </div>
        <div class="form-group">
            <label>Blocage</label>
            <input name="data.blockValue" data-dtype="String" type="text" value="{{itemData.blockValue}}" />
        </div>
    {{/if}}
    {{#if (eq item.type 'bag')}}
        <div class="form-group">
            <label>Lignes supplémentaires</label>
            <input name="data.extraRows" data-dtype="Number" type="number" value="{{itemData.extraRows}}" />
        </div>
        <div class="form-group">
            <label>Colones supplémentaires</label>
            <input name="data.extraColumns" data-dtype="Number" type="number" value="{{itemData.extraColumns}}" />
        </div>
        <div class="form-group">
            <label>Taille infini</label>
            <input type="checkbox" name="data.noLimit" data-dtype="Boolean" {{checked itemData.noLimit}}/>
        </div>
    {{/if}}
    {{#if (or (eq item.type 'ring') (eq item.type 'weapon') (eq item.type 'armor') (eq item.type 'cloak') (eq item.type 'belt') (eq item.type 'head') (eq item.type 'necklace') (eq item.type 'hand') (eq item.type 'foot') (eq item.type 'handWeapon'))}}
        <div>
            <div>Modificateurs:</div>
            <div class="modifier-values">
                {{#each itemData.modifiers as | modifier |}}
                    <div class="modifier-value" data-modifier-id="{{@key}}">
                        <select name="data.modifiers.{{@key}}.stat">
                            {{selectOptions ../modifierSkills selected=modifier.stat}}
                        </select>
                        <span>+</span>
                        <input name="data.modifiers.{{@key}}.value" data-dtype="Number" type="number" value="{{modifier.value}}" />
                        <a data-lvl0-action="deleteModifier" title="Supprimer modificateur"><i class="fas fa-trash"></i></a>
                    </div>
                {{/each}}
            </div>
            <button data-lvl0-action="addItemModifier">Ajouter un modificateur</button>
        </div>
    {{/if}}
    {{#if (or (eq item.type 'ring') (eq item.type 'armor') (eq item.type 'shield') (eq item.type 'cloak') (eq item.type 'belt') (eq item.type 'head') (eq item.type 'necklace') (eq item.type 'hand') (eq item.type 'foot') (eq item.type 'handWeapon'))}}
        <div>
            <div>Compétences:</div>
            <div class="modifier-values">
                {{#each itemData.extraSkills as | extraSkill |}}
                    <div class="extra-skill-line" data-extra-skill-id="{{@key}}">
                        <select name="data.extraSkills.{{@key}}.id">
                            {{selectOptions ../extraSkills selected=extraSkill.id}}
                        </select>
                        <a data-lvl0-action="deleteExtraSkill" title="Supprimer skill"><i class="fas fa-trash"></i></a>
                    </div>
                {{/each}}
            </div>
            <button data-lvl0-action="addItemExtraSkill">Ajouter une compétence</button>
        </div>
    {{/if}}
</form>
